@use "./scss/colors.scss" as c;
@use "./scss/fonts.scss" as f;

* {
  scroll-behavior: smooth;
  outline: 1px red solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        hsl(199, 75%, 56%) 0%, 
        hsl(230, 74%, 62%) 25%, 
        hsl(284, 46%, 49%) 51%, 
        hsl(338, 100%, 60%) 100%
  );  
  -webkit-animation: AnimateBG 20s ease infinite;  
          animation: AnimateBG 20s ease infinite;
  @-webkit-keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}
.nav {
  height: 100%;
  font-size: 10vw;
  font-family: f.$primaryFont;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
}
.main-app {
  min-height: 300px;
  width: 100%;
  max-width: 700px;
  background-color: rgb(110, 255, 175);
  margin: auto;

  .countdown {
    background-color: rgb(110, 255, 175);
    font-family: f.$countdownFont;
    font-size: 3rem;
    .timer {
      @include c.Dblue;
    }
  }
}

