@use './colors.scss' as c;

.app {
  height: 700px;
  width: 800px;
  border: 1px red solid;
  border-radius: 15px;

  .nav {
    color: c.$Dblue;
    font-size: 2rem;
    background-color: aqua;
  }
}
