@use "./scss/colors.scss" as c;
@use "./scss/fonts.scss" as f;
@use "./scss/mixins.scss" as m;

* {
  scroll-behavior: smooth;
  // outline: 1px red solid;
}

.background {
  background-image: linear-gradient(
    -45deg,
    c.$Lgrayish-blue,
    c.$Lblue,
    c.$Lpurple,
    c.$Lpink
  );
  @extend %background; //mixins.scss
}
.background.dark {
  background-image: linear-gradient(
    -45deg,
    hsla(199, 57%, 26%, 0.534),
    hsl(230, 45%, 31%),
    hsl(284, 45%, 28%),
    hsl(338, 63%, 29%)
  );
  @extend %background; //mixins.scss
}
.dark.round-border {
  margin-top: 300px;
  padding: 20px;
  border-radius: 50%;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .header {
    font-size: 2.2rem;
    font-family: f.$primaryFont;
    font-weight: 600;
    color: c.$Lpastel;
    text-shadow: 0 0 3px c.$Dpurple, 0 0 30px c.$Dpurple, 0 0 1px c.$Dpurple,
      0 0 1px c.$Dpurple;
    @media (max-width: 700px) {
      font-size: 1.4rem;
    }
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-app {
    width: 45vh;
    margin-bottom: 10px;
    background: c.$glassyGray;
    border-radius: 10px;
    box-shadow: 0 4px 30px c.$fadedBlack;
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid c.$glassyGrayBorder;
    transition: border-radius 0.5s;

    @media (max-width: 700px) {
      border-radius: 0;
      transition: border-radius 0.5s;
    }
    .countdown {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
    }
    .round-border {
      border: 1px c.$white solid;
      margin-top: 30px;
      padding: 20px;
      box-shadow: 0 0 1px 0 c.$white inset, 0 0 1px 0 c.$white;
      border-radius: 50%;

      .timer-background {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: c.$white;
        height: 235px;
        width: 235px;
        border-radius: 50%;
        //svg render
        #container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 240px;
          height: 240px;
          pointer-events: none;
        }

        .timer {
          color: c.$black;
          font-size: 2rem;
          font-weight: 00;
          font-family: f.$countdownFont;
          @media (max-width: 700px) {
            font-size: 1.7rem;
          }
        }
      }
    }

    .icons {
      display: flex;
      margin-bottom: -30px;

      button.icon1 {
        @include m.buttonStyles(-45deg);
      }
      button.icon2 {
        @include m.buttonStyles(45deg);
      }

      button:hover {
        background-position: right center; /* change the direction of the change here */
        color: c.$white;
        text-decoration: none;
      }
      %icons {
        color: c.$Lpastel;
        @media (max-width: 700px) {
          font-size: 0.6rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .icon1,
      .icon2 {
        @extend %icons;
      }
    }
  }
}
