@use "../scss/colors.scss" as c;
@use "../scss/fonts.scss" as f;
@use "../scss/scss-components/checkbox.scss" as ch;

.todo-section {
  background-color: rgba(253, 253, 253, 0.185);
  max-height: 30vh;
  width: 45vh;
  border-radius: 10px;
  padding-top: 30px;
  overflow-x: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  @media (max-width: 700px) {
    border-radius: 0;
    transition: border-radius 0.5s;
  }

  .todo-form {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: -15px;
    //inputs extends/mixin for reusability
    %inputs {
      background: hsla(284, 100%, 84%, 0.201);
      height: 30px;
      border: 0;
      outline: 0;
    }
    %input-focus {
      transition: background-color 0.3s;
      &:focus {
        background: hsla(284, 100%, 84%, 0.728);
      }
    }
    //inputs-focus extends/mixin for reusability
    .task-holder {
      @extend %inputs;
      @extend %input-focus;
      border-radius: 7px;
      padding-left: 10px;
      max-width: 180px;
    }

    .task-number {
      @extend %inputs;
      @extend %input-focus;
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
    }

    .task-btn {
      @extend %inputs;
      border-radius: 7px;
      width: 40px;
      margin-left: 0px;
      transition: background-color 0.3s;
      &:hover {
        background: hsla(284, 100%, 84%, 0.728);
      }
    }
  }

  .divider-between-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    .chevron {
      padding-left: 10px;
      font-size: 0.8rem;
      .rotated {
        // transition: transform 0.3s linear;
        // transform: rotate(-90deg);
      }
      .chevron-rotated {
        transition: transform 0.2s linear;
      }
    }
    .completed {
      display: flex;
      justify-content: flex-start;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }

  .current-todos,
  .completed-todos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

    li {
      background: linear-gradient(
        45deg,
        hsla(338, 100%, 57%, 0.621),
        hsla(237, 88%, 32%, 0.537)
      );
      font-size: 0.8rem;
      box-shadow: 0 0 15px 1px rgba(176, 176, 176, 0.573);
      display: flex;
      align-items: center;
      list-style: none;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 6px 16px 4px 8px;
      min-height: 40px;
      min-width: 200px;
      color: hsla(0, 0%, 100%, 0.925);
      position: relative;
      word-break: break-word;
      &:hover button {
        color: rgb(255, 255, 255);
      }
      label {
        margin-left: -5px;
        margin-right: -5px;
      }
      button {
        position: absolute;
        top: 2px;
        right: 5px;
        border: 0;
        background-color: transparent;
        color: transparent;
        font-size: 0.6rem;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.5s;
        &:hover {
          color: rgb(255, 34, 86);
        }
      }
      .mins {
        position: absolute;
        bottom: 6px;
        right: 5px;
        font-size: 0.8rem;
        font-family: f.$minsFont;
        color: hsla(0, 0%, 100%, 0.482);
        transition: color 0.5s;
      }
      &:hover .mins {
        color: hsla(0, 0%, 100%, 0.916);
      }
      //removed styles into separate file checkbox.scss
      @extend %checkbox;
      //
    }
  }
}
