
// Primary colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$fadedBlack: hsla(0, 0%, 0%, 0.1);
$Dpurple: hsl(277, 95%, 15%);

$Lgrayish-blue: hsla(199, 75%, 56%, 0.534);
$Lblue: hsl(230, 74%, 62%);
$Dblue: hsla(237, 88%, 32%, 0.537);
$Lpurple: hsl(284, 46%, 49%);
$Lpink: hsl(338, 100%, 60%);
$Dpink: hsla(338, 100%, 57%, 0.621);

// Secondary colors

////Glass elements
$Lpastel: hsl(20, 86%, 95%);
$glassyGray: rgba(251, 251, 251, 0.1);
$glassyGrayBorder: rgba(251, 251, 251, 0.251);
////Inputs
$fadedPurple: hsla(284, 100%, 84%, 0.201);
$LfadedPurple: hsla(284, 100%, 84%, 0.728);
//Shadows
$Dshadow: rgba(176, 176, 176, 0.304);
// remove mixins into separate file
