// Primary colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$Lpastel: hsl(20, 86%, 95%);
$Dpurple: hsl(277, 95%, 15%);
$Lgrayish-blue: hsla(199, 75%, 56%, 0.534);
$Lblue: hsl(230, 74%, 62%);
$Lpurple: hsl(284, 46%, 49%);
$Lpink: hsl(338, 100%, 60%);

@mixin buttonStyles($direction) {
    background-image: linear-gradient(
        $direction,
        $Lgrayish-blue 0%,
        $Lblue 25%,
        $Lpurple 51%,
        $Lpink 100%
      );
      margin: 10px;
      padding: 5px;
      transition: 0.5s;
      background-size: 200% auto;
      border: none;
      border-radius: 15px;
      min-width: 45px;
}

//Secondary colors