%checkbox {
  .checkbox {
    label {
      display: inline-block; // to make it easier to click
      color: #fff;
      cursor: pointer;
      position: relative; // important
      // Now we'll create the checkbox object
      span {
        display: inline-block;
        position: relative;
        background-color: transparent;
        width: 20px;
        height: 20px;
        transform-origin: center;
        border: 2px solid rgba(255, 255, 255, 0.534);
        border-radius: 50%;
        vertical-align: -6px;
        margin-right: 10px;
        transition: border 0.5s, background-color 150ms 200ms,
          transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89); // custom ease effect for bouncy animation
        // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"
        &:before {
          content: "";
          width: 0px;
          height: 2px;
          border-radius: 2px; // so that the tick has nice rounded look
          background: #fff;
          position: absolute;
          transform: rotate(45deg);
          top: 7px; // you'll need to experiment with placement depending on the dimensions you've chosen
          left: 5px; // you'll need to experiment with placement depending on the dimensions you've chosen
          transition: width 50ms ease 50ms;
          transform-origin: 0% 0%;
        }

        &:after {
          content: "";
          width: 0;
          height: 2px;
          border-radius: 2px; // so that the tick has nice rounded look
          background: #fff;
          position: absolute;
          transform: rotate(305deg);
          top: 11px; // you'll need to experiment with placement depending on the dimensions you've chosen
          left: 6px; // you'll need to experiment with placement depending on the dimensions you've chosen
          transition: width 50ms ease;
          transform-origin: 0% 0%;
        }
      }
      // Time to add some life to it
      &:hover {
        span {
          &:before {
            width: 5px;
            transition: width 100ms ease;
          }
          &:after {
            width: 10px;
            transition: width 150ms ease 100ms;
          }
        }
      }
    }

    input[type="checkbox"] {
      display: none; // hide the system checkbox
      // Let's add some effects after the checkbox is checked
      &:checked {
        + label {
          span {
            background-color: #fff;
            transform: scale(1.08); // enlarge the box

            &:after {
              width: 10px;
              background: #3e0142;
              transition: width 150ms ease 100ms; // enlarge the tick
            }

            &:before {
              width: 5px;
              background: #3e0142;
              transition: width 150ms ease 100ms; // enlarge the tick
            }
          }

          &:hover {
            // copy the states for onMouseOver to avoid flickering
            span {
              background-color: #fff;
              transform: scale(1.05); // enlarge the box

              &:after {
                width: 10px;
                background: #3e0142;
                transition: width 150ms ease 100ms; // enlarge the tick
              }

              &:before {
                width: 5px;
                background: #3e0142;
                transition: width 150ms ease 100ms; // enlarge the tick
              }
            }
          }
        }
      }
    }
    
  }
  &:hover .checkbox span {
    border: 2px solid rgb(255, 255, 255);
  }
}

