@use "../todos/Todo.scss" as t;
@use "../../scss/fonts.scss" as f;
.number-input {
  width: 70px;
  position: relative;
  display: flex;
  @media (max-height: 600px) {
    max-width: 15vw;
    }
  span {
    display: block;
    float: left;
    width: 20px;
    height: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: -10px;
  }
  %minus-reuse {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    top: 40%;
    left: 5px;
    transition: background-color .2s;
    @media (max-height: 600px) {
      width: 5px;
      }
  }
  .minus.light:before {
    @extend %minus-reuse;
    background-color: #000000;
  }
  .minus.dark:before {
    @extend %minus-reuse;
    background-color: rgb(216, 215, 215);
  }
  .inp-num {
    float: left;
    width: 38px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    background: hsla(284, 100%, 84%, 0.201);
    transition: color .2s;
    font-family: f.$minsFont;
    @media (max-height: 600px) {
      max-width: 7vw;
      }
    //imported extends from todo.scss
    @extend %inputs;
    @extend %input-focus;
    //
    &.light {
      //light theme
      color: #000;
    }
    &.dark {
      //dark theme
      color: rgb(216, 215, 215);
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  %plus-reuse {
      content: "";
      position: absolute;
      right: 5px;
      width: 8px;
      height: 1px;
      top: 40%;
      transition: background-color .2s;
      @media (max-height: 600px) {
        width: 5px;
        }
  }
  .plus.light:before,
  .plus.light:after {
    background-color: #000000;
    @extend %plus-reuse;
  }
  .plus.dark:before,
  .plus.dark:after {
    background-color: rgb(216, 215, 215);
    @extend %plus-reuse;
  }

  .plus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
