@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

$primaryFont: 'Dosis', sans-serif;;
$countdownFont: 'Alfa Slab One', cursive;
$minsFont: 'Cabin', sans-serif;
