%white-dark-theme-toggle {
  .white-dark-toggle {
    position: relative;
    .toggle-btn {
      position: absolute;
      width: 46px;
      height: 24px;
      margin: 0 auto;
      border-radius: 40px;
      right: 5%;
      margin-top: 20px;
    }
    input[type="checkbox"] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: 0px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-tap-highlight-color: transparent;
    }
    /* First toggle btn */
    #_1st-toggle-btn span {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
      opacity: 1;
      background-color: #fff;
      box-shadow: 0px 2px 15px #ffc5f6cc;
      border-radius: 40px;
      transition: 0.2s ease background-color, 0.2s ease opacity;
    }

    #_1st-toggle-btn span:before,
    #_1st-toggle-btn span:after {
      content: "";
      position: absolute;
      top: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: 0.5s ease transform, 0.2s ease background-color;
    }

    #_1st-toggle-btn span:before {
      background-color: #fff;
      transform: translate(-18px, 0px);
      z-index: 1;
    }

    #_1st-toggle-btn span:after {
      background-color: rgb(44, 17, 46);
      transform: translate(7px, 0px);
      z-index: 0;
    }

    #_1st-toggle-btn input[type="checkbox"]:checked + span {
      background-color: rgb(44, 17, 46);
    }

    #_1st-toggle-btn input[type="checkbox"]:active + span {
      opacity: 0.5;
    }

    #_1st-toggle-btn input[type="checkbox"]:checked + span:before {
      background-color: rgb(44, 17, 46);
      transform: translate(18px, -5px);
    }

    #_1st-toggle-btn input[type="checkbox"]:checked + span:after {
      background-color: #fff;
      transform: translate(22px, 0px);
    }
  }
}
